* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: 0 auto;
    background-color: black;
    color: seashell;
    font-family: Helvetica;
    font-size: 22px;
    opacity: 0.9;
}

.top-nav {
    background-color: black;
    overflow: hidden;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-decoration: underline;
  }

.container-mission {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 20px;
  }

.mission {
    background-color: black;
    width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


.container-teaOfTheMonth {
    margin: auto;
    width: 1000px;
  }

.teaOfTheMonth {
    background-color: black;
    text-align: center;
  }

.column {
    display: inline-flex;
    justify-items: space-between;
  }

.card img {
    padding: 10px;
    width: 300px;
    height: 200px;
  }

figcaption {
    text-align: center;
  }

.container-locations {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 20px;
  }

  .container-locations img {
    height: 500px;
  }

.container-locations .row {
    display: inline;
    position: absolute;
    display: inline;
    top: 170px;
    left: 80px;
    right: 80px;
  }

.container-locations .card {
    width: 300px;
    background-color: black;
    margin-top: 15px;
    margin: 40px;
    line-height: 2;
  }

.location-txt {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.container-footer {
  text-align: center;
  line-height: 2;
  height: 200px;
}

.container-footer h2 {
  text-transform: capitalize;
}

.copyright {
  margin-left: 20px;
}